
.cw-wrapper p:last-child {
    margin-bottom: 0;
}

.cw-wrapper {
    background-color: #f6f6f6;
    padding: 20px 30px 30px;
    margin-left: -30px;
    margin-right: -30px;
}
.post-content ul li:before {
    position: absolute;
}