.site-header .menu-item-501:before {
    background-color: #E53A40;
    border-radius: 3px;
    color: #fff;
    content: "NEW";
    display: none;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    padding: 3px 5px 4px;
    position: absolute;
    right: 0;
    top: 10px;
}

.main-block {
    margin-bottom: 30px;
}

.main-block .format-standard.type-post .entry-title {
    font-size: 20px;
}

.main-block .format-standard.type-post .entry-header {
    margin-bottom: 10px;
}

.main-block .format-standard.type-post .entry-wrapper .entry-excerpt {
    font-size: 13px;
}

.main-block .format-standard.type-post .entry-wrapper .entry-footer {
    font-size: 10px;
    margin-top: 4px;
}

.main-block .col-one .type-post .entry-media {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-block .col-one .type-post .entry-header .entry-title {
    font-size: 30px;
}

.last-news-list .post-list {
    margin-bottom: 50px;
}

.last-news-list .type-post .entry-media {
    margin-top: 0;
    margin-bottom: 0;
}

.last-news-list .type-post .entry-wrapper .entry-header {
    margin-bottom: 0;
}

.last-news-list .type-post .entry-wrapper .entry-title {
    font-size: 20px;
}

.footer-block .type-post {
    margin-top: 0;
}

.site-main .section.post_big_list {
    padding-bottom: 0;
}

.footer-block .section-title {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .2px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.footer-block .type-post .entry-media {
    margin-top: 0;
}

.footer-block .type-post .entry-title {
    font-size: 20px;
}

.site-content .bottom-area {
    padding: 0;
}

.site-content .bottom-area .related-posts {
    padding: 60px 0;
}

span.meta-category:before {
    content: "/";
    padding-right: 10px;
}

span.meta-category:first-child:before {
    content: none;
}

.entry-header .entry-meta > span + span {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .burger {
        display: none;
    }
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }
}

.u-border-title:before, .owl .owl-dot.active, .infinite-scroll-button {
    background-color: #6fd08d;
}

.infinite-scroll-button {
    border-color: #6fd08d;
}

.navbar .logo.text {
    color: #6fd08d;
}

.site-content > .container + .bottom-area {
    margin-top: 0;
}

.site-content > .container {
    margin-bottom: 60px;
}

.widget-posts .entry-meta, .entry-header .entry-meta {
    margin-top: 8px;
}

@media (max-width: 768px) {
    #menu-footer.nav-list li {
        display: inherit;
    }

    .u-module-margin .col-lg-6:first-child article {
        margin-bottom: 0;
    }

    .u-module-margin .col-lg-6:first-child article .entry-media {
        margin-bottom: 20px;
    }

    .u-module-margin .col-lg-6:first-child article .entry-excerpt {
        display: none;
    }

    .u-module-margin .col-lg-6:last-child article {
        margin: 15px 0 0 0;
    }

    .u-module-margin .col-lg-6:last-child article .entry-title {
        font-size: 14px;
    }
}

@media (max-width: 768px) and (min-width: 767px) {
    .site-main .section {
        padding: 60px 0 0 0;
    }

    .row.posts-wrapper .post-list {
        margin-bottom: 30px;
    }
}

@media (max-width: 425px) {
    .col-md-3 .widget-area {
        margin-top: 30px;
    }

    .col-lg-3 .widget_magsy_posts_widget {
        margin-top: 30px;
    }

    .row.posts-wrapper .post-list {
        margin-bottom: 25px;
    }
}

.navbar .nav-list > .menu-item > a {
    margin: 0 8px;
}

.load-button.load-more {
    position: relative;
}

.load-button.load-more .loading-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-color: #fff transparent;
    animation: rotate 1s linear infinite;
    top: 50%;
    margin: -8px 20px;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.load-button.load-more .loading-circle {
    display: none;
}

.load-button.load-more.btn__more .loading-circle {
    display: block;
}

.picked-posts .owl-item .entry-header {
    max-height: 60px;
    min-height: 60px;
    overflow: hidden;
}

.entry-media .placeholder {
    height: inherit;
}

.advert-section {
    text-align: center;
    margin-bottom: -30px;
}

.ads-wrapper, .advert-section {
    margin: 20px 0;
}

.advert-section a > img {
    display: inherit;
}

.advert-section + div.section {
    padding-top: 30px;
}

.owl .owl-stage-outer {
    overflow: inherit;
}