.site-header .menu-item-501:before {
    background-color: #E53A40;
    border-radius: 3px;
    color: #fff;
    content: "NEW";
    display: none;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    padding: 3px 5px 4px;
    position: absolute;
    right: 0;
    top: 10px;
}

.main-block {
    margin-bottom: 30px;
}

.main-block .format-standard.type-post .entry-title {
    font-size: 20px;
}

.main-block .format-standard.type-post .entry-header {
    margin-bottom: 10px;
}

.main-block .format-standard.type-post .entry-wrapper .entry-excerpt {
    font-size: 13px;
}

.main-block .format-standard.type-post .entry-wrapper .entry-footer {
    font-size: 10px;
    margin-top: 4px;
}

.main-block .col-one .type-post .entry-media {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-block .col-one .type-post .entry-header .entry-title {
    font-size: 30px;
}

.last-news-list .post-list {
    margin-bottom: 50px;
}

.last-news-list .type-post .entry-media {
    margin-top: 0;
    margin-bottom: 0;
}

.last-news-list .type-post .entry-wrapper .entry-header {
    margin-bottom: 0;
}

.last-news-list .type-post .entry-wrapper .entry-title {
    font-size: 20px;
}

.footer-block .type-post {
    margin-top: 0;
}

.site-main .section.post_big_list {
    padding-bottom: 0;
}

.footer-block .section-title {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .2px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.footer-block .type-post .entry-media {
    margin-top: 0;
}

.footer-block .type-post .entry-title {
    font-size: 20px;
}

.site-content .bottom-area{
    padding: 0;
}

.site-content .bottom-area .related-posts{
    padding: 60px 0;
}