a, article, blockquote, body, cite, code, del, div, em, figcaption, figure, h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, img, li, ol, p, pre, section, span, strong, time, ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: inherit
}

article, figcaption, figure, header, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote {
    quotes: none
}

blockquote:after, blockquote:before {
    content: '';
    content: none
}

a img {
    border: 0
}

img {
    max-width: 100%;
    height: auto
}

::-webkit-input-placeholder {
    color: inherit
}

::-moz-placeholder {
    color: inherit;
    opacity: 1
}

:-ms-input-placeholder {
    color: inherit
}

:root {
    --main-color: #D50000
}

html {
    font-size: 14px
}

body {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.8666;
    -webkit-tap-highlight-color: transparent
}

::-moz-selection {
    background: rgba(45, 83, 254, .95);
    color: #fff;
    text-shadow: none
}

::selection {
    background: rgba(45, 83, 254, .95);
    color: #fff;
    text-shadow: none
}

img::-moz-selection {
    background: 0 0
}

img::selection {
    background: 0 0
}

h1 {
    font-size: 29px
}

h2 {
    font-size: 26px
}

h3 {
    font-size: 22px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    color: #111;
    -webkit-font-smoothing: antialiased
}

p {
    margin-bottom: 26px
}

a {
    opacity: initial;
    color: #222;
    text-decoration: none;
    transition: all .25s ease-in-out
}

a:hover {
    text-decoration: none
}

hr {
    background-color: rgba(51, 51, 51, .1);
    border: 0;
    height: 1px;
    margin: 3em 0
}

code, pre {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: calc(11px + .2em);
    background: #f8f8f8
}

code {
    padding: 4px 10px;
    word-break: break-word
}

pre {
    padding: 1.857em;
    margin-bottom: 2em;
    display: block;
    overflow: auto;
    word-wrap: normal;
    overflow-wrap: normal
}

blockquote {
    padding-left: 45px;
    color: #989898;
    font-family: "IBM Plex Serif", ff-more-web-pro, "PT Serif", Georgia, serif;
    font-size: 21px;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased
}

blockquote:before {
    content: "\201c";
    float: left;
    margin-top: 18px;
    margin-left: -45px;
    font-family: Georgia, Arial, sans-serif;
    font-style: normal;
    font-size: 52px;
    line-height: .41;
    color: #d50000
}

blockquote p:last-child, blockquote p:last-of-type {
    margin-bottom: 0
}

blockquote cite {
    font-family: Roboto, Arial, sans-serif;
    color: #9c9c9c;
    font-size: 12px;
    font-weight: 400
}

blockquote cite:before {
    content: "-";
    margin-right: 8px
}

blockquote p > cite {
    margin-left: 16px;
    margin-right: 14px
}

.modern-quote {
    margin: 0
}

.modern-quote {
    position: relative;
    padding: 0 42px;
    padding-top: 22px;
    color: #252525;
    font-size: 27px;
    line-height: 1.44;
    font-weight: 500;
    text-align: center
}

.modern-quote:before {
    position: absolute;
    z-index: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%) translateY(9px) rotate(1deg);
    color: #d50000;
    opacity: .13;
    font-size: 132px
}

.modern-quote p {
    font-size: inherit;
    line-height: inherit;
    font-style: inherit
}

.modern-quote cite {
    color: #a0a0a0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .04em
}

.modern-quote cite:before {
    display: none
}

.modern-quote p cite:only-child {
    display: block
}

.modern-quote p cite:only-child:before {
    display: none
}

.cf:after, .cf:before {
    content: "";
    display: table
}

.cf:after {
    clear: both
}

.ts-row {
    min-height: 1px;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box
}

.ts-row [class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    min-height: 1px;
    box-sizing: border-box
}

.col-12 {
    width: 100%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.666666666666668%
}

body {
    color: #494949;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 16px;
}

.main {
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 100px
}

.main-head.compact .menu > li:not(:hover) a:after {
    color: #111
}

.main-head.simple .social-icons a:not(:hover) {
    color: #525252
}

.navigation li:not(:hover) > .mega-menu img {
    pointer-events: none
}

.navigation.inline .menu > .current-post-parent:not(:hover) > a {
    color: inherit
}

.navigation.simple .menu > li li:not(:hover) a {
    color: #555
}

.the-post .featured {
    margin-bottom: 36px
}

.the-post .the-post-header > :last-child:not(.featured) {
    margin-bottom: 36px
}

.the-post .the-post-meta {
    margin-bottom: 36px
}

.the-post-header .post-title-alt {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.25;
    -webkit-font-smoothing: initial
}

.the-post-header .post-meta-b .post-title-alt {
    margin-top: 16px;
    margin-bottom: 16px
}

.the-post-foot {
    margin-top: 90px
}

.the-post-modern {
    margin: 0 auto
}

.the-post-modern .post-header {
    text-align: center
}

.the-post-modern .post-title-alt {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 1.21;
    -webkit-font-smoothing: initial
}

.the-post-modern .the-post-meta {
    margin-bottom: 40px
}

.the-post-modern .the-post-meta .post-title-alt {
    margin-top: .68em;
    margin-bottom: .68em
}

.related-posts .posts {
    margin-bottom: -30px;
    padding-top: 58px;
    padding-bottom: 10px
}

.related-posts .post {
    margin-bottom: 30px
}

.related-posts .image-link img {
    display: block;
    width: 100%
}

.related-posts .post-title {
    display: block;
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.45
}

.related-posts .post-meta {
    font-size: 11px;
    margin-bottom: 15px
}

.related-posts .content {
    padding-left: 20px;
    padding-right: 20px
}

.the-post-modern .related-posts {
    position: relative;
    margin-top: 75px;
    margin-bottom: 90px
}

.the-post-modern .related-posts:before {
    content: "";
    background: #f7f7f7;
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw) !important;
    height: 100%;
    left: 0;
    right: 0;
    top: auto;
    bottom: auto;
    z-index: -1;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1
}

.the-post-modern .related-posts .section-head {
    padding-top: 60px;
    padding-bottom: 2px
}

.the-post-modern .related-posts .section-head:after {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 12px);
    margin-top: 6px;
    width: 24px;
    height: 2px;
    background: #000
}

.the-post-modern .related-posts .section-head:before {
    display: none
}

.the-post-modern .related-posts .section-head .title {
    background: 0 0;
    font-size: 24px
}

.the-post-modern .related-posts .posts {
    margin-bottom: 0;
    padding-bottom: 15px
}

.the-post-modern .related-posts .post-title {
    font-size: 20px;
    margin-bottom: 15px
}

.section-head {
    position: relative;
    margin-top: 60px;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0;
    line-height: 28px
}

.section-head:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #e1e1e1
}

.section-head .title {
    position: relative;
    display: inline-block;
    padding: 0 18px;
    z-index: 1;
    color: #000;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle
}

.post-title-alt {
    position: relative;
    margin-top: 18px;
    margin-bottom: 18px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: none
}

.post-title {
    font-family: Roboto, Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: none
}

.post-title a {
    color: inherit;
    transition: all .3s ease-in
}

.post-title a:hover {
    opacity: 1;
    text-shadow: 2px 2px #fff, 2px -2px #fff, -2px 2px #fff, -2px -2px #fff;
    box-shadow: 0 -1px 0 0 #fff inset, 0 -2px 0 0 var(--main-color, #000) inset
}

.post-content img {
    will-change: opacity;
    transition: opacity .3s ease-in
}

.post-content img:hover {
    opacity: .84
}

.post-meta {
    color: #989898;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased
}

.post-meta time {
    font-weight: 500;
    letter-spacing: .1em
}

.post-meta-b {
    margin-bottom: 20px
}

.post-meta-b .post-title-alt:after {
    display: none
}

.post-meta-b .post-title-alt {
    margin: 15px 0
}

.post-content > :last-child {
    margin-bottom: 0
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin-top: calc(13px + 1.2em);
    margin-bottom: calc(10px + .2em);
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased
}

.post-content a {
    color: #d50000
}

.post-content a:hover {
    opacity: .84
}

.post-content a:hover img {
    opacity: 1
}

.post-content ol, .post-content ul {
    margin: 2em 0;
    margin-left: 35px
}

.post-content ul {
    list-style-type: disc
}

.post-content ol {
    list-style-type: decimal
}

.post-content blockquote {
    margin-top: 2em;
    margin-bottom: 2em
}

.post-content blockquote > p {
    margin-bottom: 26px
}

.post-content .modern-quote {
    margin-bottom: 1.7em
}

.post-content li {
    padding-left: 5px;
    margin-bottom: .8em
}

.post-content iframe {
    max-width: 100%
}

.post-content .wp-block-gallery {
    margin: 40px 0
}

.post-content .wp-block-gallery {
    margin-left: -10px;
    margin-right: -10px
}

.post-content .wp-caption-text, .post-content figcaption {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    color: #777
}

.post-content > :first-child {
    margin-top: 0
}

.post-content {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.6875;
    color: #505050;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px
}

.post-content p > a, .post-content strong a {
    color: inherit;
    box-shadow: 0 -1px 0 0 var(--main-color, #000) inset;
    transition: .3s ease-in
}

.post-content p > a:hover, .post-content strong a:hover {
    opacity: 1;
    box-shadow: 0 -1px 0 0 currentColor inset
}

.post-content figure > a:not(.pinit-btn) {
    display: block
}

.entry-content {
    font-family: ff-more-web-pro, "PT Serif", Georgia, serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.79;
    color: rgba(0, 0, 0, .74);
}

.entry-content p,
.entry-content blockquote,
.entry-content blockquote p,
.entry-content ul li {
    text-align: left !important;
}

.entry-content p {
    margin-bottom: 1.65em;
}

.entry-content .modern-quote {
    margin-top: 2em;
    margin-bottom: 1.9em
}

.entry-content > ol, .entry-content > ul {
    margin-top: 1.65em;
    margin-bottom: 1.65em
}

.entry-content > ul {
    list-style: none
}

.entry-content h1 {
    font-size: 2em
}

.entry-content h2 {
    font-size: 1.6315em
}

.entry-content h3 {
    font-size: 1.368em
}

.entry-content h4 {
    font-size: 1.21em
}

.entry-content h5 {
    font-size: 1.05em
}

.entry-content h6 {
    font-size: 1em
}

.content-spacious .wp-caption.alignnone, .content-spacious figure.alignnone {
    margin-left: -3.896%;
    margin-right: -3.896%;
    max-width: 107.8%
}

.content-spacious-full figure img {
    vertical-align: bottom
}

.content-spacious-full .alignnone, .content-spacious-full .wp-block-gallery {
    margin-top: calc(40px + .25vw);
    margin-bottom: calc(40px + .25vw)
}

.content-spacious-full .wp-caption-text {
    margin-top: 1em
}

.alignnone {
    margin: 40px 0
}

.alignright {
    float: right;
    margin: 4px 0 20px 30px
}

.alignleft {
    float: left;
    margin: 4px 30px 20px 0
}

.wp-caption {
    max-width: 100%
}

.wp-caption-text, figcaption {
    font-family: Roboto, Arial, sans-serif;
    font-size: .923em
}

.wp-caption-text {
    margin-top: 5px;
    font-style: italic;
    text-align: center;
    color: #b4b4b4
}

.wp-block-separator {
    background: #e1e1e1
}

.wp-block-separator:not(.is-style-wide) {
    margin: 2.8em auto;
    height: 2px;
    max-width: 180px
}

.wp-block-separator.is-style-dots {
    background: 0 0;
    border: none;
    text-align: center;
    max-width: none;
    line-height: 1;
    height: auto
}

.wp-block-separator.is-style-dots:before {
    content: "\00b7 \00b7 \00b7";
    padding-left: 21px;
    color: #666;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 21px;
    font-family: georgia, serif
}

p.has-drop-cap:not(:focus):first-letter {
    float: left;
    font-size: calc(75px + 2.2em);
    line-height: .78;
    margin: .04em 15px 0 0;
    text-transform: uppercase;
    font-family: georgia, serif;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, .8);
    -webkit-font-smoothing: antialiased
}

@supports (-ms-ime-align:auto) {
    p.has-drop-cap:not(:focus):first-letter {
        font-size: 6.1em
    }
}

.wp-block-gallery {
    display: -ms-flexbox;
    display: flex;
    list-style: none
}

.wp-block-gallery li:before {
    display: none !important
}

.wp-block-gallery .blocks-gallery-item {
    padding-left: 0
}

.wp-block-gallery .blocks-gallery-item figure {
    position: relative
}

.wp-block-gallery .blocks-gallery-item {
    margin: 5px
}

.wp-block-gallery .blocks-gallery-item {
    width: calc(100% / 2 - 10px)
}

.nav-off-canvas {
    overflow-x: hidden
}

body {
    visibility: visible;
    overflow: initial
}

@media (min-width: 1200px) {
    .the-post-modern {
        width: 67.52137%
    }

    .the-post-modern header .featured {
        margin-left: -190px;
        margin-right: -190px;
        margin-bottom: 45px;
        width: auto;
        width: calc(100% + 380px);
        max-width: 100vw
    }

    .the-post-modern .related-posts {
        margin-left: -190px;
        margin-right: -190px
    }

    .content-spacious-full {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto
    }

    .content-spacious-full .wp-caption.alignnone, .content-spacious-full figure.alignnone {
        margin-left: -190px;
        margin-right: -190px;
        width: auto;
        width: calc(100% + 380px);
        max-width: 100vw
    }

    .content-spacious-full .wp-caption.alignleft, .content-spacious-full figure.alignleft {
        margin-left: -6%
    }

    .content-spacious-full .wp-caption.alignright, .content-spacious-full figure.alignright {
        margin-right: -6%
    }

    .content-spacious-full .wp-block-gallery {
        margin-left: calc(-190px - (10px / 2));
        margin-right: calc(-190px - (10px / 2));
        width: calc(100% + 380px + 10px);
        max-width: initial
    }
}

@media (max-width: 1200px) {
    .the-post-modern {
        max-width: 790px
    }

    .the-post-modern .related-posts {
        margin-left: calc(50% - 50vw);
        width: 100vw;
        max-width: 100vw
    }

    .the-post-modern .related-posts .posts {
        margin: 0 auto;
        max-width: 85%
    }

    .the-post-modern .related-posts .post-title {
        font-size: 18px
    }

    .the-post-modern .related-posts .content {
        padding-left: 0;
        padding-right: 0
    }

    .alignleft, .alignright {
        max-width: 50%
    }
}

@media (min-width: 940px) and (max-width: 1200px) {
    .entry-content {
        font-size: 18px
    }

    .content-spacious {
        margin-right: -3.896%
    }
}

@media (max-width: 940px) {
    .ts-row [class*=col-] {
        float: none;
        width: 100%
    }

    .the-post-header .post-title-alt {
        font-size: 34px;
        line-height: 1.35
    }

    .the-post-modern {
        width: 100%
    }

    .the-post-modern .post-header {
        text-align: left
    }

    .has-share-float:not(.content-spacious) {
        --content-share-ml: 55px;
        margin-left: 55px
    }

    .the-post-modern .related-posts .posts {
        max-width: calc(95vw - calc(6.92841vw - 28.14088px))
    }
}

@media (min-width: 767px) {
    .content-spacious {
        padding-left: 3.896%;
        padding-right: 3.896%
    }
}

@media (max-width: 767px) {
    .modern-quote {
        font-size: 24px
    }

    .main {
        margin-bottom: 80px
    }

    .the-post-header .post-title-alt {
        font-size: 30px
    }

    .the-post-foot {
        margin-top: 65px
    }

    .has-share-float {
        --content-share-ml: 0px !important;
        margin-left: 0 !important
    }

    .related-posts .post {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto
    }

    .related-posts .image-link img {
        max-width: initial
    }

    .the-post-modern .related-posts .section-head .title {
        font-size: 20px
    }

    .the-post-modern .related-posts .posts {
        padding-bottom: 30px
    }

    .post-content img {
        will-change: initial
    }

    .entry-content {
        font-size: 17px;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto
    }
}

@media (min-width: 767px) and (max-width: 940px) {
    .related-posts .post {
        float: left;
        width: 33.333%
    }
}

@media (min-width: 540px) {
    .wp-block-gallery.columns-4 .blocks-gallery-item {
        width: calc(100% / 4 - 10px)
    }
}

@media (max-width: 540px) {
    hr {
        margin: 35px 0
    }

    blockquote {
        font-size: 19px
    }

    .modern-quote {
        font-size: 22px;
        padding-left: 10px;
        padding-right: 10px
    }

    .the-post-header .post-title-alt {
        font-size: 27px
    }

    .related-posts .content {
        padding-left: 0;
        padding-right: 0
    }

    .post-title {
        font-size: 22px
    }

    .post-content {
        font-size: 14px
    }

    .entry-content {
        font-size: 17px
    }

    .alignleft, .alignright {
        width: 100%;
        max-width: 100%;
        float: none;
        padding: 0;
        margin: 30px auto !important
    }

    figure.alignleft img, figure.alignright img {
        float: none;
        width: 100%;
        max-width: initial
    }

    p.has-drop-cap:not(:focus):first-letter {
        font-size: calc(60px + 1.8em)
    }
}

.main {
    margin-top: 150px
}

.post-meta time {
    font-size: 12px
}

.post-meta-b .post-title-alt {
    margin-top: 0
}

.post-meta {
    color: #a6a6a6
}

:-ms-input-placeholder {
    color: #989898
}

::-ms-input-placeholder {
    color: #989898
}

.single .main {
    margin-bottom: 0
}

.page_view .main {
    margin-bottom: 100px
}

.post-content figure img, .post-content figure img.size-full {
    width: 100% !important
}

figure.alignleft, figure.alignright {
    max-width: 50%
}

.alignbig {
    margin: 40px 0
}

blockquote {
    font-family: inherit;
    color: inherit
}

a.button-link:hover {
    color: #fff;
    background: #000;
    border-color: #000
}

a.button-link {
    width: 100%;
    padding: 16px 0;
    display: inline-block;
    min-width: initial;
    text-align: center;
    text-decoration: none;
    border: 0;
    background: #f6f6f6;
    color: #000;
    box-shadow: 0 2px 3px rgba(110, 110, 110, .25) !important;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    box-shadow: initial
}

.entry-content > ul li {
    list-style: none
}

.post-content ul li {
    list-style: none
}

.post-content ul li:before {
    content: "\2022";
    color: #d00000;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 26px;
    line-height: 1em
}

ul.wp-block-gallery {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.wp-block-gallery img {
    border: 2px solid #414042
}

.wp-block-gallery .blocks-gallery-item {
    margin: 6px 8px
}

.wp-block-gallery li {
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease
}

.wp-block-gallery li:hover {
    transform: scale(1.05)
}

.card-post .custom_card:first-child {
    margin-top: 0;
    margin-bottom: calc(10px + .2em);
    border: none;
}

.card-post h3.custom_card {
    text-align: center;
    border-top: 30px solid #fff;
    padding-top: 54px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px
}

.card-post h3.custom_card span {
    font-size: 18px;
    text-transform: capitalize;
    pointer-events: none;
    z-index: +1;
    color: #d00000;
    display: block;
    margin-top: -30px;
    text-align: center;
    padding: 10px 0
}

.post-content .card-post {
    background: #f6f6f6;
    padding: 0px 30px 34px;
}

.card-post > p:first-child {
    padding-top: 34px;
}

.card-post > .custom_card:first-child {
    border-top: none!important;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 24px
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.team-grid {
    margin-top: 0 !important;
    text-align: center
}

.team-grid img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'old-timey\'><feColorMatrix type=\'matrix\' values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\'/></filter></svg>#old-timey");
    -webkit-filter: sepia(1);
    -webkit-filter: grayscale(1) sepia(.5);
    -moz-filter: grayscale(1) sepia(.5);
    -ms-filter: grayscale(1) sepia(.5);
    -o-filter: grayscale(1) sepia(.5);
    filter: grayscale(1) sepia(.5)
}

.team-grid img:hover {
    filter: none;
    -webkit-filter: grayscale(0) sepia(0);
    -moz-filter: grayscale(0) sepia(0);
    -ms-filter: grayscale(0) sepia(0);
    -o-filter: grayscale(0) sepia(0);
    filter: grayscale(0) sepia(0)
}

.team-grid .related-posts {
    margin-bottom: 30px
}

@media (min-width: 1200px) {
    .content-spacious-full .wp-caption.alignbig {
        margin-left: -190px;
        margin-right: -190px;
        width: auto;
        width: calc(100% + 380px);
        max-width: 100vw
    }

    .content-spacious-full .wp-caption.alignnone {
        margin-left: -3.896%;
        margin-right: -3.896%;
        max-width: 107.8%
    }
}

@media (max-width: 940px) {
    .main {
        padding-top: 80px
    }

    .main {
        margin-top: 0
    }

    .the-post-header .post-title-alt {
        max-width: 100%
    }

    .ts-row [class*=col-md-] {
        float: left
    }

    .ts-row .col-md-4 {
        width: 33.333333333333336%
    }
}

@media (max-width: 540px) {
    blockquote {
        font-size: 18px;
        padding-left: 0
    }

    blockquote:before {
        margin-top: 0;
        margin-left: 15px;
        font-size: 52px
    }

    figure.alignleft, figure.alignright {
        max-width: 100%
    }

    .post-meta time {
        letter-spacing: 0
    }

    .post-content .card-post {
        padding: 0 15px 15px;
        margin-left: -5px;
        margin-right: -5px
    }
    .card-post h3.custom_card {
        margin-left: -15px;
        margin-right: -15px
    }
    .ts-row [class*=col-sm-] {
        float: left
    }

    .ts-row .col-sm-6 {
        width: 50%
    }
}

/**********************************************/

.entry-content, blockquote {
    line-height: 1.49;
}

.colorWhite {
    background-color: #fff;
}

.colorBlack {
    background-color: #4b4b4b;
    color: #fff;
}

.colorBlack .entry-content,
.colorBlack .entry-content figcaption {
    color: #d4d4d4;
}

.colorBlack .section-head .title,
.colorBlack blockquote,
.colorBlack h1,
.colorBlack h2,
.colorBlack h3,
.colorBlack h4,
.colorBlack h5,
.colorBlack h6 {
    color: #f5f5f5;
}

.colorBlack .custom_card {
    border-top: 30px solid #4b4b4b !important;
}

.colorBlack .post-content .card-post,
.colorBlack .the-post-modern .related-posts:before {
    background-color: #404040;
    color: #d4d4d4;
}

.colorBlack .the-post-modern .related-posts:before {
    border-top: 1px solid #717171;
    border-bottom: 1px solid #717171;
}

.colorBlack a.button-link {
    color: #fff;
    background: #414141;
    border-color: #414141;
}

.colorBlack a.button-link:hover {
    color: #fff;
    background: #000;
    border-color: #000;
}

.colorSepia {
    background-color: #ffe9d5;
}

.colorSepia .custom_card {
    border-top: 30px solid #ffe9d5 !important;
}

.colorSepia .post-content .card-post,
.colorSepia .the-post-modern .related-posts:before {
    background-color: #e7d3c1;
}

.colorSepia .the-post-modern .related-posts:before {
    border-top: 1px solid #d4c1b0;
    border-bottom: 1px solid #d4c1b0;
}

.fontRoboto .entry-content {
    font-family: Roboto, Arial, sans-serif;;
}

.fontRoboto .entry-content {
    font-family: Roboto, Arial, sans-serif;;
}

.size14 p,
.size14 ul li,
.size14 blockquote {
    font-size: 15px;
}

.size22 p,
.size22 ul li,
.size22 blockquote {
    font-size: 19px;
}

.size26 p,
.size26 ul li,
.size26 blockquote {
    font-size: 23px;
}

.size30 p,
.size30 ul li,
.size30 blockquote {
    font-size: 27px;
}